/* Container */
.main-footer {
  background-color: var(--text-color--green--light);
}

.main-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 64px 0px;
}

/* Logo */
.main-footer__logo-container {
  flex-basis: 35%;
}

.main-footer__logo {
  font-size: 64px;
  font-weight: 800;
  line-height: 0.9;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.main-footer__copyright {
  font-size: 12px;
}

/* Área dos links */
.main-footer__links {
  display: flex;
  font-size: 18px;
  gap: 64px;
}

.main_footer__links-list-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 6px;
}

.main-footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  margin-left: 4px;
}

.main-footer__links-list a:link,
.main-footer__links-list a:visited {
  color: rgb(120, 120, 217);
  font-size: 16px;
}

.main-footer__links-list a:hover,
.main-footer__links-list a:active {
  color: rgb(86, 86, 157);
}

/* Mapa */
.main-footer__map {
  aspect-ratio: 1/1;
  width: 180px;
}
