.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px 48px;
  margin-bottom: 24px;
}

.main-nav__link:link,
.main-nav__link:visited {
  color: var(--text-color--gray--dark);
}

.main-nav__link.main-nav__link--active:link,
.main-nav__link.main-nav__link--active:visited {
  color: var(--text-color--green--regular); /* Mudar */
}
