/* Conteúdo */
.library-content {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}

/* Filtros */
.section__library-filters {
  flex-basis: 10%;
}

.library-filters__heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: var(--text-color--gray--dark);
}

/* Filtro */
.library-filters__genre {
  margin-bottom: 6px;
}

.library-filters__genre-check {
}

.library-filters__genre-label {
}

/* Acervo */
.section__library-books {
  flex: 1;
}

.library-books__heading {
  margin-bottom: 8px;
  text-transform: uppercase;
  color: var(--text-color--gray--dark);
  font-size: 48px;
}

/* Barra de pesquisa */
.library-books__search {
  color: var(--text-color--gray--light);
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin-bottom: 24px;
  padding: 8px 6px;
}

/* Grid */
.library-books__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 36px;
  row-gap: 24px;
  margin-bottom: 40px;
}

/* Livro */
.library-books__book {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #7474743d;
  padding: 12px;
  /* border-radius: 12px; */ /* Com ou sem? */
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.065);
  transition: all ease 0.2s;
}

.library-books__book:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.05);
}

/* Imagem */
.library-books__book-image-link {
  width: 100%;
  aspect-ratio: 1/1.5;
  margin-bottom: 8px;
}

.library-books__book-image {
  height: 100%;
  background-color: var(--text-color--green--regular);
}

/* Informações */
.library-books__book-information-container {
  width: 100%;
}

.library-books__book-title {
  color: var(--text-color--gray--dark);
  text-transform: uppercase;
  margin-bottom: 6px;
}

/* Autor */
.library-books__book-author:link,
.library-books__book-author:visited {
  font-size: 14px;
  color: var(--text-color--gray--light);
  display: block;
  margin-bottom: 6px;
  transition: all ease 0.2s;
}

.library-books__book-author:hover,
.library-books__book-author:active {
  color: var(--text-color--gray--dark);
}

/* Ano */
.library-books__book-year {
  font-size: 10px;
}

/* Paginação */
.library-books__pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.library-books__page {
  width: 32px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  transition: all ease 0.2s;
}

.library-books__page:hover {
  background-color: var(--text-color--gray--light);
  color: #fff;
}

.library-books__page--active {
  background-color: var(--text-color--green--regular);
  color: #fff;
}

.library-books__page--active:hover {
  background-color: var(--text-color--green--light);
  color: var(--text-color--gray--dark);
}
