.collection-content {
  display: flex;
  height: 500px;
}

.collection-filters-container {
  background-color: #c6c6c6;
  width: 150px;
}

.collection-listing-container {
  background-color: #e6e6e6;
  flex: 1;
}

.collection-listing{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 12px;
}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-image {
  height: 120px;
  width: 70px;
  background-color: red;
}
