html{
    background-image: url("../../images/general/plano-de-fundo-do-livro-xfix8ihv6dmfjzyu-redimensionado-para-1447x1194.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}


.div-page__register-user{
    min-height: 100vh;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.main__register-user{
    width: 100%;
    max-width: 572px;
    height: 100vh;
    max-height: 682px;
    background-color: rgb(192, 230, 201, 0.80);
    border-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 10px;
    padding: 32px;
}

.section__register-user{
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center
}

.h1__register-user{
    margin-top: 30px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: var(--text-color--gray--dark)
}

.div-box__password-email{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-box__register-user{
    width: 100%;
    height: 41px;
    border-radius: 10px;
    font-weight: 400;
    padding: 0px 16px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);

}

.header__register-user{
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  color: black;
}

.button__register-user{
  width: 100%;
  min-height:30px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  margin: 45px auto 0px;
  max-width: 400px;
}


.form__register-user{
    width: 100%;
    height: 100%;
    max-width: 400px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.div-main__register-user{
    width: 100%;
    margin-top: 32px;
    flex: 1 1 0%;
    overflow-y: auto;
    overflow-x: clip; 
    height: 50%;
    scrollbar-color: var(--text-color--gray--dark) var(--text-color--green--light);
    scrollbar-width: thin;
}




 