/* ====== HEADER ====== */
.main-header {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    ),
    url("/public/images/inicio/header/header-01.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-header__heading-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: #fff;
}

.main-header__heading {
  font-size: 190px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.9;
}

/* ====== SLOGAN ====== */
.main-header__slogan-container {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  margin-bottom: 12px;
}

.main-header__slogan--1 {
  letter-spacing: 1px;
}

.main-header__slogan--2 {
  font-size: 56px;
  font-weight: 600;
}

/* ====== AUTOR ====== */
.section__author {
  display: flex;
}

/* --- imagem --- */
.author__image-container {
  flex-basis: 50%;
  overflow: hidden;
}

.author__image {
  width: 100%;
  transition: all 0.3s ease;
  display: block;
}

.author__image:hover {
  transform: scale(1.05);
}

/* --- frase --- */
.author__quote-container {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.author__quote {
  font-size: 84px;
  color: #747474;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.1;
  width: 70%;
  margin-bottom: 64px;
}

.current-author__name {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-size: 18px;
}
