/* Conteúdo */
.section__book {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}

/* Imagem */
.book__image-container {
  flex: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.book__image {
  aspect-ratio: 1/1.5;
  background-color: var(--text-color--green--regular);
}

/* Informações */
.book__information-container {
  flex-basis: 70%;
}

.book__title {
  font-size: 64px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color--gray--dark);
}

/* Autor */
.book__author {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 32px;
}

.book__author-image {
  aspect-ratio: 1/1;
  width: 36px;
  background-color: var(--text-color--green--regular);
  border-radius: 100%;
}

.book__author-name:link,
.book__author-name:visited {
  color: var(--text-color--gray--dark);
  transition: all ease 0.2s;
}

.book__author-name:hover,
.book__author-name:active {
  color: var(--text-color--gray--light);
}

/* Descrição */
.book__description {
  line-height: 1.4;
}
