/* Conteúdo */
.section__book {
  display: flex;
  gap: 32px;
  margin-bottom: 64px;
}

/* Imagem */
.book__image-container {
  flex: 1;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.book__image {
  aspect-ratio: 1/1.5;
  background-size: cover;
}

/* Informações */
.book__information-container {
  flex-basis: 70%;
}

.book__title {
  font-size: 64px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--text-color--gray--dark);
}

/* Autor */
.book__author {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 32px;
}

.book__author-image {
  aspect-ratio: 1/1;
  width: 36px;
  background-size: cover;
  border-radius: 100%;
}

.book__author-name:link,
.book__author-name:visited {
  color: var(--text-color--gray--dark);
  transition: all ease 0.2s;
}

.book__author-name:hover,
.book__author-name:active {
  color: var(--text-color--gray--light);
}

/* Descrição */
.book__description {
  line-height: 1.4;
  /* mudar */
  margin-bottom: 200px;
}

/* Detalhes */
.book__details {
  display: flex;
  justify-content: center;
  gap: 64px;
}
.book__detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.book__detail-icon {
  width: 32px;
  aspect-ratio: 1/1;
  margin-bottom: 4px;
}
.book__detail-label {
  font-weight: bold;
  margin-bottom: 4px;
}
.book__detail-value {
}

.book__loan_area {
  height: 50%;
  position: relative;
}

.loan_area__button {
  position: absolute;
  float: left;
  bottom: 0;
  right: 0;
  border: none;
  text-decoration: none;
  background: yellow;
  padding: 30px;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 98;
}

.loan_area__button:hover {
  cursor: pointer;
}