/* Informações do perfil */
.section__profile-info {
  margin-bottom: 64px;
}

.profile-info__container {
  display: flex;
  align-items: center;
  gap: 64px;
}

/* Foto de perfil */
.profile-info__profile-picture {
  /* Tamanho */
  flex-basis: 20%;
  border-radius: 100%;
  aspect-ratio: 1/1;

  /* Imagem */
  background-image: url("/public/images/perfil-cliente/porra-cara-nao-sei-velho.jpg");
  background-size: cover;
}

/* Dados */
.profile-data__container {
}

.profile-data__heading {
  font-size: 48px;
  margin-bottom: 12px;
}

.profile-data__fields {
  margin-bottom: 24px;
}

.profile-data__field {
  margin-bottom: 6px;
}

.profile-data__edit-button {
  background-color: var(--text-color--green--regular);
  border: none;
  padding: 8px 16px;
}

/* Empréstimos */
.section__loans {
  height: 450px; /* quero ver alguem reclamar >:( */
}

.loans__container {
  display: flex;
  gap: 104px;
}

/* Lista de pendências */
.loans__pendencies {
  flex-basis: 15%;
}

.pendency {
  margin-bottom: 36px;
}

.pendency__book-title {
  text-transform: uppercase;
  color: var(--text-color--gray--dark);
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.pendency__date-container {
  margin-bottom: 12px;
}

.pendency__date-heading {
  margin-bottom: 4px;
}

.pendency__date {
  font-style: italic;
}

.pendency__details-button {
  background-color: var(--text-color--green--regular);
  border: none;
  padding: 4px 8px;
}

.pendency__message {
}

/* Livro atual */
.loans__current-book {
  display: flex;
  flex: 1;
  gap: 48px;
}

.current-book__book {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
}

.current-book__book-cover {
  margin-bottom: 8px;
}

.current-book__book-cover img {
  width: 100%;
}

.current-book__book-info {
  text-align: center;
}

.current-book__book-title:link,
.current-book__book-title:visited {
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: var(--text-color--gray--dark);
  margin-bottom: 4px;
}

.current-book__book-author:link,
.current-book__book-author:visited {
  text-decoration: none;
  font-size: 14px;
  color: var(--text-color--gray--light);
}

/* Dados do livro atual */
.current-book__details {
  padding-top: 12px;
}

.current-book__info {
}

.current-book__info-item {
  margin-bottom: 16px;
  line-height: 1.4;
}

.current-book__info-label {
  font-weight: bold;
}

.current-book__info-value {
}

/* Botões */
.current-book__buttons {
  margin-top: 32px;
}

.current-book__button {
  padding: 8px 16px;
  border: none;
}

.current-book__button--extend {
  background-color: var(--text-color--green--regular);
}

.current-book__button--cancel {
  background-color: rgb(212, 117, 117);
}
