/* Root */
:root {
  /* Cinzas */
  --text-color--gray--light: #747474;
  --text-color--gray--dark: #474747; /* que burla ein dog */

  /* Cores principais */
  --text-color--green-light: #4ac268; /* temporário */
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: "IBM Plex Mono";
  position: relative;
  /* background-image: linear-gradient(to bottom, #e9edc9, #f3ffbc); */
  color: var(--text-color--gray--light);
  line-height: 1;
}
