/* Cores */
:root {
  /* Cinzas */
  --text-color--gray--light: #747474;
  --text-color--gray--dark: #474747;

  /* Cores principais */
  --text-color--green--regular: #4ac268; /* temporário */
  --text-color--green--light: #c0e6c9; /* temporário */
}

/* Estilos do body */
body {
  font-family: "IBM Plex Mono", "monospace";
  position: relative;
  color: var(--text-color--gray--light);
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
