<nav class="main-nav">
  <a href="/public/html/index.html" class="main-nav__link">inicio</a>
  <a
    href="/public/html/pages/acervo.html"
    class="main-nav__link main-nav__link--active"
    >acervo</a
  >
  <a href="/public/html/pages/login.html" class="main-nav__link main-nav__link-default">entrar</a>
  <a
    href="/public/html/pages/login.html"
    class="main-nav__link main-nav__link-default"
    >Cadastrar</a
  >
  <a href="/public/html/pages/perfil-cliente.html" class="main-nav__link main-nav__link-user">Meu Perfil</a>
  <a
    href="/public/html/pages/dashboard-livro.html"
    class="main-nav__link main-nav__link-admin"
    >Dashboard</a
  >
</nav>